{% extends '::baseListes.html.twig' %}

    {% block nav %}
        <a href="#" style="font-size:10px">Bien</a>
        <a href="#" style="font-size:10px" >Localité</a>
        <a href="#"style="font-size:10px">Type</a>
    {% endblock %}

    {% block headContent %}

        <tr style="background-color: black;color:white">
            <th>Nom Bien</th>
            <th>Nom Client</th>
            <th>Date Reservation</th>
            <th>etat Reservation</th>
        </tr>
    {% endblock %}

    {% block bodyContent %}
    {% for $reservationObject in $listeReserv %}
        <tr>
            <td>{{ $reservationObject.bien.nomBien }}</td>
            <td>{{ $reservationObject.client.nomClient }}</td>
            <td>{{ $reservationObject.dateReservation }}</td>
            <td>{{ $reservationObject.etat}}</td>


        </tr>
        {% endfor %}
    {% endblock %}

