{% extends "::base.html.twig" %}

{% block title %}Ajout{% endblock %}

{% block body %}

<div class="bg-secondary" style="width:800px;position:relative;left:350px; border-radius:70px;">
    
    <div style="position:relative;left:60px;">
        {{form(form)}}<br>
    </div>
</div>
{% endblock %}
