
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="pgwslider.css"/>
    <link rel="stylesheet" href="bootstrap.css"/>

</head>

<body style="background-image:url('images/bg.png')">
<div class="container">
    <ul class="pgwSlider">
    <li><img src="1.jpg" alt="Paris, France" data-description="Eiffel Tower and Champ de Mars"></li>
    <li><img src="2.jpg" alt="Montréal, QC, Canada" data-description="Canada"></li>

    <li>
        <img src="3.jpg">
        <span>Shanghai, China</span>
    </li>

    <li>
        <img src="5.jpg">
	    <span>New York, NY, USA</span>
    </li>
</ul>
</div>

<script src="jquery.js"></script>
<script src="pgwslider.js"></script>
<script src="script.js"></script>

<script ></script>
</body>
</html>