{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typebiens list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelletypebien</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeBien in typeBiens %}
            <tr>
                <td><a href="{{ path('typebien_show', { 'id': typeBien.id }) }}">{{ typeBien.id }}</a></td>
                <td>{{ typeBien.libelleTypeBien }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typebien_show', { 'id': typeBien.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
