
{% extends 'baseCat.html.twig' %}

{% block body %}
     <div id="header" class="header-slide" style="position: relative; z-index: 0; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
      <div class="container">
            <div class="quick-search">
              <div class="row">
              <div class="col-md-3">
                <form role="form">
                    <div class="form-group">
                      <label for="country">Zone</label>
                      <input type="number" class="form-control" id="email"  style="width:170px">
	                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="bedroom">Type</label>
                      <select class="form-control" style="width:170px">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    </div>

                    <div class="col-md-4">
                    <div class="form-group">
		            <label for="email">Prix</label>
			            <input type="number" class="form-control" id="email" style="width:160px">
		            </div>
                   </div>
                   <div class="col-md-2"><input name="submit" value="Search" class="btn btn-primary btn-md btn-block" type="submit"></div>
              </form>
              </div>
              </div>
              </div>
              </div>
            

    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; z-index: -999998; position: absolute; width: 1366px; height: 538px;"><img style="position: absolute; margin: 0px; padding: 0px; border: medium none; max-height: none; max-width: none; z-index: -999999; width: 1366px; height: 843.505px; left: 0px; top: -152.753px;" src="catalogueTemp_fichiers/bg01.jpg"></div></div>

    <div id="content">
      <div class="container">
        <!-- begin:latest -->
        <div class="row">
          <div class="col-md-12">
            <div class="heading-title">
              <h2>Notre catalogue de biens</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img02.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Residential</h4>
                  <span>$800,000</span>
                </div>
                <div class="property-status">
                  <span>Nos ventes</span>
                </div>
              </div>
              <div class="property-features">
                <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                <span><i class="fa fa-male"></i> 2 Bath</span>
              </div>  
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>
            </div>
          </div>
          <!-- break -->

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img03.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Villa</h4>
                  <span>$300,000<small>/year</small></span>
                </div>
                <div class="property-status">
                  <span>For Rent</span>
                </div>
              </div>
              <div class="property-features">
                <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                <span><i class="fa fa-male"></i> 2 Bath</span>
              </div>
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>
            </div>
          </div>
          <!-- break -->

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img04.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Commercial</h4>
                  <span>$800,000</span>
                </div>
                <div class="property-status">
                  <span>For Sale</span>
                </div>
              </div>
              <div class="property-features">
                <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                <span><i class="fa fa-male"></i> 2 Bath</span>
              </div>
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>
            </div>
          </div>
          <!-- break -->

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img05.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Residential</h4>
                  <span>$800,000<small>/year</small></span>
                </div>
                <div class="property-status">
                  <span>For Rent</span>
                </div>
              </div>
              <div class="property-features">
                <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                <span><i class="fa fa-male"></i> 2 Bath</span>
              </div>
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
     