
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="pgwslider.css"/>
    <link rel="stylesheet" href="bootstrap.css"/>

</head>

<body style="background-image:url('images/bg.png')">
<div class="container">
<div class="row">
    <ul class="pgwSlider">
    <li>
        <img src="1.jpg" alt="Paris, France" data-description="Eiffel Tower and Champ de Mars">
    </li>
    <li>
        <img src="2.jpg" alt="Montréal, QC, Canada" data-description="Canada">
    </li>

    <li>
        <img src="3.jpg">
        <span>Shanghai, China</span>
    </li>

    <li>
        <img src="5.jpg">
	    <span>New York, NY, USA</span>
    </li>
</ul>
</div>
</div>

<div class="row" style="margin-top:30px"></div>
    <center>
        <img src="reserv.png">
        <hr></hr>
    </center>
</div>
<div class="row" style="position:absolute;right:100px">
    <div class="col">
        <div class="btn btn-sm btn-success" id="clientConn">Connexion</div>
    </div>
    <div class="col">
        <div class="btn btn-sm btn-success" id="clientIns">Nouveau compte</div>
    </div>
</div>
<div class="container-fluid" style="margin-top:60px">
<!--debut row-->
<div class="row-md-12">
<!--debut colonne description-->
    <div class="col-md-5">
    <div class="card">
        <div class="card-header nom">
            <h4>Nom du bien :</h4>
            <p></p>
        </div>
        <div class="card-body desc loc">
            <h4>Description du bien :</h4>
                <p></p>
            <h4>Quartier :</h4>
                <p></p>
        </div> 
        <div class="card-footer prix">
            <h4>Prix de location :</h4>
            <p></p>
        </div>
    </div>
    </div>
<!--fin colonne description-->

<!--colonne marge gauche-->
<div class="col-md-1"></div>
<!--Formulaire de résérvation-->
<div class="col-md-6" style="position:absolute;top:685px;right:3px">
    <div class="card">
    <div class="card-body">
        <form role="form" id="inscription">
            <div class="form-group">
              <label for="usrname"><span class=""></span> Prenom</label>
              <input type="text" class="form-control" id="usrname" placeholder="Entez votre prenom">
            </div>
             <div class="form-group">
              <label for="usrname"><span class=""></span>Nom</label>
              <input type="text" class="form-control" id="usrname" placeholder="Entez votre nom">
            </div>
            <div class="form-group">
              <label for="psw"><span class=""></span> Login</label>
              <input type="text" class="form-control" id="psw" placeholder="Entez votre numero ">
            </div>
            <div class="form-group">
              <label for="psw"><span class=""></span> Mot de passe</label>
              <input type="text" class="form-control" id="psw" placeholder="Entez votre numero ">
            </div>
            <div class="form-group">
              <label for="psw"><span class=""></span> Confirmer mot de passe</label>
              <input type="text" class="form-control" id="psw" placeholder="Entez votre numero ">
            </div>
            <div class="form-group">
              <label for="psw"><span class=""></span> Telephone</label>
              <input type="text" class="form-control" id="psw" placeholder="Entez votre numero ">
            </div>
             <div class="form-group">
              <label for="psw"><span class=""></span> Adresse</label>
              <input type="text" class="form-control" id="psw" placeholder="Entez votre adresse">
            </div>
            <div class="form-group">
              <label for="psw"><span class=""></span> Email</label>
              <input type="text" class="form-control" id="psw" placeholder="Entez votre email">
            </div>
              <button type="submit" class="btn btn-success"><span class=""></span> Enregistrer</button>
              <button type="submit" class="btn btn-danger"><span class=""></span> Annuler</button>
        </form>  

<!--Formulaire de connexion-->
        <form role="form" id="connexion" style="display:none">
            <div class="form-group">
              <label for="log"><span class=""></span> Login</label>
              <input type="text" class="form-control" id="login" placeholder="Login">
            </div>
             <div class="form-group">
              <label for="pw"><span class=""></span>Mot de passe</label>
              <input type="text" class="form-control" id="pw" placeholder="Mot de passe">
            </div>
              <button type="submit" class="btn btn-success"><span class=""></span>Connexion</button>
              <button type="submit" class="btn btn-danger"><span class=""></span> Annuler</button>
        </form>

    </div>
    </div>    
</div>
<!--fin colonne formulaire-->
</div>
<!--fin row-->
</div>
<!--fin container-->

<!--inclusions javascript-->
<script src="jquery.js"></script>
<script src="pgwslider.js"></script>
<script src="script.js"></script>

<script ></script>
</body>
</html>