<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Hielo by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" href="assets/css/main.css" />
	
		<link rel="stylesheet" href="style1.css"/>
		
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html"></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Accueil</a></li>
					<li><a href="#presentation">À propos de nous</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a href="catalogue.html">Catalogue de produits</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/1.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Bienvenue à Keur Gui Immo...</p>
						</header>
					</div>
				</article>
				<article>
					<img src="images/2.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Faites louer ou vendre vos biens immobiliers...</p>
						</header>
					</div>
				</article>
				<article>
					<img src="images/3.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Louez des appartements ou maisons</p>
						</header>
					</div>
				</article>
			</section>
		<!--section présentation-->
		<div id="service">
			<center>
					<div class="container">
							<div class="row">
							  <div class="col-md-12">
								<h2>Best Real Estate Deals <small>You need to do is very simple just join us</small></h2>
							  </div>
							</div>
							<div class="row">
							  <div class="col-md-3 col-sm-6 col-xs-12">
								<div class="service-container">
								  <div class="service-icon">
									<a href="#"><i class="fa fa-home"></i></a>
								  </div>
								  <div class="service-content">
									<h3>Lorem ipsum dolor sit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt.</p>
								  </div>
								</div>
							  </div>
							  <!-- break -->
							  <div class="col-md-3 col-sm-6 col-xs-12">
								<div class="service-container">
								  <div class="service-icon">
									<a href="#"><i class="fa fa-thumbs-up"></i></a>
								  </div>
								  <div class="service-content">
									<h3>Lorem ipsum dolor sit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt.</p>
								  </div>
								</div>
							  </div>
							  <!-- break -->
							  <div class="col-md-3 col-sm-6 col-xs-12">
								<div class="service-container">
								  <div class="service-icon">
									<a href="#"><i class="fa fa-umbrella"></i></a>
								  </div>
								  <div class="service-content">
									<h3>Lorem ipsum dolor sit</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt.</p>
								  </div>
								</div>
							  </div>
							  </div>
							</div>
						  </div>  
						</div>
			</center>
			

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
