<!DOCTYPE html>
<html style="overflow: hidden;" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="arillo is responsive html real estate theme">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="stylesheet" href="style.css">

    <title>Kgi</title>

    <!-- Bootstrap core CSS -->
    <link href="catalogueTemp_fichiers/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="catalogueTemp_fichiers/css.css" rel="stylesheet" type="text/css">
    <link href="catalogueTemp_fichiers/font-awesome.css" rel="stylesheet">
    <link href="catalogueTemp_fichiers/style.css" rel="stylesheet">
    <link href="catalogueTemp_fichiers/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript" charset="UTF-8" src="catalogueTemp_fichiers/common.js"></script><script type="text/javascript" charset="UTF-8" src="catalogueTemp_fichiers/util.js"></script><script type="text/javascript" charset="UTF-8" src="catalogueTemp_fichiers/stats.js"></script></head>

  <body id="top">       
            <div class="quick-search">
              <div class="row">
              <div class="col-md-3">
                <form role="form">
                    <div class="form-group">
                      <label for="country">Zone</label>
                      <input type="number" class="form-control" id="email"  style="width:170px">
	                  </div>
                     </div>

                     <div class="col-md-3">
                    <div class="form-group">
                      <label for="bedroom">Type</label>
                      <select class="form-control" style="width:170px">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    </div>

                    <div class="col-md-4">
                    <div class="form-group">
		            <label for="email">Prix</label>
			        <input type="number" class="form-control" id="email" style="width:160px">
		            </div>
                   </div>
                   <div class="col-md-2"><input name="submit" value="Search" class="btn btn-primary btn-md btn-block" type="submit"></div>
              </form>
              </div>
              </div>
              </div>
              </div>
              {# <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; z-index: -999998; position: absolute; width: 1366px; height: 538px;"><img style="position: absolute; margin: 0px; padding: 0px; border: medium none; max-height: none; max-width: none; z-index: -999999; width: 1366px; height: px; left: 0px; top: -152.753px;" src="catalogueTemp_fichiers/bg01.jpg"></div></div> #}
    <!-- begin:content -->
    <div id="content">
      <div class="container">
        <!-- begin:latest -->
        <div class="row">
          <div class="col-md-12">
            <div class="heading-title">
              <h2>Notre catalogue de biens</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img02.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Residential</h4>
                  <span>$800,000</span>
                </div>
                <div class="property-status">
                  <span><input name="submit" value="Search" class="btn btn-succes s btn-md btn-block" type="submit"></span>
                </div>
              </div>
             
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>
            </div>
          </div>
          <!-- break -->

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img03.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Villa</h4>
                  <span>$300,000<small>/year</small></span>
                </div>
                <div class="property-status">
                  <span><input name="submit" value="Search" class="btn btn-success btn-md btn-block" type="submit"></span>
                </div>
              </div>
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>
            </div>
          </div>
          <!-- break -->

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img04.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Commercial</h4>
                  <span>$800,000</span>
                </div>
                <div class="property-status">
                  <span><input name="submit" value="Search" class="btn btn-success btn-md btn-block" type="submit"></span>
                </div>
              </div>
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>
            </div>
          </div>
          <!-- break -->

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="property-container">
              <div class="property-image">
                <img src="catalogueTemp_fichiers/img05.jpg" alt="arillo real estate theme">
                <div class="property-price">
                  <h4>Residential</h4>
                  <span>$800,000<small>/year</small></span>
                </div>
                <div class="property-status">
                  <span><input name="submit" value="Search" class="btn btn-success btn-md btn-block" type="submit"></span>
                </div>
              </div>
              <div class="property-content">
                <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
              </div>  
            </div>
          </div>
          <!-- break -->

          

          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> 
        </div>
        <img src="images/shadow.jpg" style="width:2000px"/>
        <!-- end:latest -->

    <!-- begin:footer -->
   
    <!-- end:modal-signup -->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="catalogueTemp_fichiers/jquery.js"></script>
    <script src="catalogueTemp_fichiers/bootstrap.js"></script>
     <script type="text/javascript" src="catalogueTemp_fichiers/js"></script>
    <script src="catalogueTemp_fichiers/gmap3.js"></script>
    <script src="catalogueTemp_fichiers/jquery_002.js"></script>
    <script src="catalogueTemp_fichiers/jquery_005.js"></script>
    <script src="catalogueTemp_fichiers/imagesloaded.js"></script>
    <script src="catalogueTemp_fichiers/masonry.js"></script>
    <script src="catalogueTemp_fichiers/jquery_004.js"></script>
    <script src="catalogueTemp_fichiers/jquery_003.js"></script>
    <script src="catalogueTemp_fichiers/script.js"></script>
  

<div id="ascrail2000" class="nicescroll-rails" style="width: 10px; z-index: 1060; position: fixed; top: 0px; height: 100%; right: 0px; cursor: default; opacity: 0;"><div style="position: relative; float: right; width: 10px; background-color: rgb(67, 74, 84); border: 1px solid rgb(67, 74, 84); background-clip: padding-box; border-radius: 5px; height: 86px; top: 542px;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 10px; z-index: 1060; position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;"><div style="position: relative; top: 0px; height: 10px; background-color: rgb(67, 74, 84); border: 1px solid rgb(67, 74, 84); background-clip: padding-box; border-radius: 5px; width: 1366px;"></div></div></body></html>
