<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Hielo by TEMPLATED</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" src="bootstrap/css/bootstrap.css">
        
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Hielo <span>by TEMPLATED</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

        <!--Produits-->
        <h2>nos produits</h2>
        <div class="card cardimg" style="margin-right:40px">
            <img class="card-img-top" src="images/1.jpg" style="width:120px;color:black">
            <div class="card-body">
            <h5 class="card-title">Ordinateur</h5>
            <p class="card-text">Prix:160.000F</p>
                <div class="row">
                    <button class="btn btn-primary btn-block btn-signin" type="submit">Ajouter au panier</button>
                </div>
            </div>
        </div>

	</body>
</html>
